<div>
    <h1>This is a Websocket Chat</h1>
    <div id="log-messages">

    </div>
    <form id='form-message'>
        <input id='input-message' type="text" required placeholder="Escribe tu mensaje">
        <input type="submit" value="Enviar">
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>